:global(html) {
  margin: 0 !important;
  padding: 0 !important;

  background:
    transparent !important;
}

:global(body) {
  margin: 0 !important;
  padding: 0 !important;

  background:
    transparent !important;
}

.page {
  position: relative;

  width: 100%;
  height: 100vh;
  height: 100dvh;

  min-height: 620px;

  margin: 0;
  padding: 0;

  overflow: hidden;

  background:
    transparent !important;
}

.page :global(.maplibregl-map),
.page :global(.maplibregl-canvas-container),
.page :global(.maplibregl-canvas),
.page canvas {
  background:
    transparent !important;
}